<mat-toolbar class="head">
  <span style="font-size: 33px; text-align: center;">
    E-Commerce Application
  </span>

  <span class="space-buttons"></span>
  <button *ngIf="! isLoggedIn()" routerLink="/login" mat-raised-button class="button">
    Login
  </button>
  <button *ngIf="isLoggedIn()" (click)="logout()" mat-raised-button class="home">
    Logout
  </button>
</mat-toolbar>

<mat-toolbar class="head" *ngIf="isLoggedIn()">
  <button class='home' mat-raised-button color="primary" routerLink="/">Home</button>
  <button class='button' mat-raised-button color="primary" *ngIf="!isAdmin()" routerLink="/cart">Cart</button>
  <button class='button' mat-raised-button color="primary" *ngIf="!isAdmin()" routerLink="/myOrders">My Orders</button>
  <button class='button' mat-raised-button color="primary" *ngIf="isAdmin()" routerLink="/addNewProduct">Add New Product</button>
  <button class='button' mat-raised-button color="primary" *ngIf="isAdmin()" routerLink="/showProductDetails">Show Product Details</button>
  <button class='button' mat-raised-button color="primary" *ngIf="isAdmin()" routerLink="/orderInformation">Order Details</button>
</mat-toolbar>